/* Los estilos de tu proyecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*Estilos header*/
.logo-flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.navbar{
    background: white;
}
.navbar-brand {
    height: 100%;
    
} 
/*Estilos para imagen de la primera seccion travel-labcar*/
.img-travel-labcar {
    width: 100%;
    height: 100vh;

    background-position:  bottom center;
    background-repeat: no-repeat;

    background-image: url('../assets/images/taxi.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
}
/*Estilos de linea horizontal*/
.line::before {
    content: "";
    display: inline-block;
    width: 30%;
    height: 0.1em;
    margin-right: 2em;
    background-color: white;
    transform: translateY(-165%);
  }
.line::after {
    content: "";
    display: inline-block;
    margin-left: 2em;
    width: 30%;
    height: 0.1em;
    background-color: white;
    transform: translateY(-165%);
  }

   


/*Estilos para registro de travel-labcar*/
.container-labcar {
    background: #f7b617;
    padding-bottom: 5%;
    padding-top: 3%;
    color: #fff; 
    

}
.container-labcar h3, h1 {
    margin-top: 0;
    margin-bottom: 0;
    
}

.container-labcar button{
   
    margin-top: 5%;
}
/*Estilos informacion de segunda seccion*/
.container-information{
    background: #f7b617;
    
    text-align: center;



    color: white;
}
.container-information .marco{
    border: 1px solid white;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    align-items: center;
    
}

/*Estilos  de la tercera seccion*/
.img-conductor{
   
    height: 50vh;
    
    background-position:  center;
    background-repeat: no-repeat;

    background-image: url('../assets/images/conduce.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;  
    
}
.container-conductor{
    height: 50vh;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 7em;
}
.container-conductor .btn{
    background: #f7b617;
    border: none;
    color: white;
}
/*Estilos de cuarta seccion*/
.container-maps{
    background: #f7b617;
    padding-left: 4em;
}
.form-group input{
    width: 70%;
    
}
.map{
    border: 1px solid white;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 2em;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    align-items: center;
    
  }

/*Estilos de footer*/
.container-footer{
    background: #2b2b2b;
    padding-top: 2em;
    color: white;
}

  

/*
.marco img{
    display:flex;
    margin:0 auto;
}*/